@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* , *::after , *::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* height: inherit; */
}

:root
{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    --color-header-part1 : rgb(15 , 20 , 26);
    --color-header-logo-border : #fff;
}

a
{
    text-decoration: none;
    display: inline-block;
}

button
{
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
}

body
{
    background-color: white;
    font-size: 1.6rem;

    min-width: 1000px;
}

ul
{
    list-style: none;
}



/* ------------------------------- STARS ----------------------------- */

#stars
{
    background-image: url("https://m.media-amazon.com/images/S/sash/ouR9NRElwmzAIev.png");
    background-size: 512px 512px;
    height: 18px;
    width: 80px;
}

#stars[data-value='5']
{
    background-position: -2px -2px;
}

#stars[data-value='4.5']
{
    background-position: -2px -42px;
}

#stars[data-value='4']
{
    background-position: -2px -22px;
}

#stars[data-value='3.5']
{
    background-position: -2px -82px;
}

#stars[data-value='3']
{
    background-position: -2px -62px;
}

#stars[data-value='2.5']
{
    background-position: -2px -122px;
}

#stars[data-value='2']
{
    background-position: -2px -102px;
}

#stars[data-value='1.5']
{
    background-position: -2px -162px;
}

#stars[data-value='1']
{
    background-position: -2px -142px;
}

#stars[data-value='0.5']
{
    background-position: -2px -202px;
}

#stars[data-value='0']
{
    background-position: -2px -182px;
}
/* -------------------------------------------------------------- */


/* -------------------------------FULFILLED----------------------------- */

#fulfilled
{
    display: inline-block;
}

#container
{
    background-color: #3e4650;
    padding: 3px 4px 3px 5px;
    border-radius: 2px 0 0 2px;
    color: white;

    display: flex;
    align-items: center;
    gap: 2px;

    position: relative;
}

#fulfilled #icon
{
    background-image: url('https://m.media-amazon.com/images/S/sash/NzPf$fHil8CgZmI.png');
    background-size: 512px 256px;
    background-repeat: no-repeat;
    height: 13px;
    width: 13px;
    background-position: -118px -2px;

}

#fulfilled #text
{
    font-size: 12px;
}

#container::before
{
    content: "";
    position: absolute;
    right: -5px;
    bottom: 0;
    border-style: dashed;
    border-width: 6px;
    border-color: rgb(255, 255, 255 , 0);
    border-bottom: 10px solid #3e4650;
}

#container::after
{
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    border-style: dashed;
    border-width: 6px;
    border-color: rgb(255, 255, 255 , 0);
    border-top: 10px solid #3e4650;
}
/* -------------------------------------------------------------- */