
.searchPage
{
    /* border: 4px solid red; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ================================================SEARCH INFO==================================================== */

.searchInfoContainer
{
    width: 100%;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0 10px #ddd;
}

.searchInfo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 10px;

    height: 40px;
}

.searchInfo > p
{
    font-size: 14px;
}

.searchInfo .sortBy button
{
    display: flex;
    align-items: center;
    background-color: #F0F2F2;
    
    height: 20px;
    border: 2px solid #D5D9D9;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(15,17,17,.15);
    
    font-size: 12px;
    color: black;
    padding: 0 6px;
    cursor: pointer;
}

.searchInfo .sortBy button img
{
    height: 12px;
    padding-left: 5px;
}

.searchInfo .sortBy
{
    position: relative;
    /* border: 2px solid red; */
}

.searchInfo .sortBy ul
{
    /* border: 4px solid blue; */
    border: 1px solid #BBBFBF;
    border-radius: 8px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color: white;

    font-size: 14px;
}

.searchInfo .sortBy ul li
{
    padding: 4px 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.searchInfo .sortBy ul li:hover
{
    background-color: #ddd;
}


.searchInfo .sortBy ul li[data-active='true']
{
    background-color: #EDFDFF;
    border: 1px solid #007185;
}
/* ==================================================================================================================== */


/* ================================================ SEARCH RESULT ==================================================== */

.searchResult
{
    /* border: 2px solid red; */
    width: 100%;
    max-width: 1800px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.searchResult > *
{
    /* border: 1px solid blue; */
}

.searchResult .filterArea
{
    width: calc(0.2 * 100%);
}



/* -------------------------------PRODUCT AREA----------------------------- */
.searchResult .productArea
{
    width: calc((0.8 * 100%) - 10px);
    margin-left: 10px;
}

.searchResult .heading
{
    font-size: 20px;
    font-weight: 600;
}

.searchResult .prodContainer
{
    /* border: 2px solid red; */
    margin-top: 8px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.searchResult .productRow
{
    /* border: 0.1px solid black; */
    border: 0.5px solid #ccc;
    display: flex;
}

.searchResult .productRow .imgContainer
{
    flex-shrink: 0;
    width: calc(0.25 * 100%);
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
}

.searchResult .productRow .imgContainer img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.searchResult .productRow .imgContainer::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.03;
    pointer-events: none;
}

.searchResult .productRow .details
{
    /* border: 2px solid red; */
    border-left: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 0 ;
    padding-left: 20px;
}

.searchResult .productRow .details > *
{
    /* border: 2px solid blue; */
}

.searchResult .productRow .details .title
{
    font-size: 18px;
    font-weight: 400;
    padding-right: 8px;
}


/* -------------------------------RATING----------------------------- */
.searchResult .productRow .details .rating
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchResult .productRow .details .rating .value
{
    font-weight: 500;
    font-size: 14px;
}

.searchResult .productRow .details .rating .total
{
    font-weight: 400;
    font-size: 14px;
    color: #007185;
}
/* -------------------------------------------------------------- */


.searchResult .productRow .details .price
{
    font-size: 28px;
    font-weight: 400;
    display: flex;
}

.searchResult .productRow .details .price span
{
    font-size: 14px;
    font-weight: 400;
    padding-top: 2px;
}

.searchResult .productRow .details .deliveryIn
{
    font-size: 14px;

}

.searchResult .productRow .details .deliveryIn span
{
    font-weight: 500;
}

/* -------------------------------------------------------------- */



/* -------------------------------PAGINATION----------------------------- */
.paginationContainer
{
    margin: 20px 0 10px;
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
}

.pagination 
{
    border: 2px solid #ccc;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    font-size: 14px;
    border-radius: 12px;
    height: 50px;

    display: flex;
    justify-content: center;
}

.pagination button
{
    color: black;
    padding: 0px 20px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.pagination button[data-active]
{
    border: 1px solid #000;
}

.pagination .prev
{
    border-radius: 12px 0 0 12px;
    position: relative;
}

.pagination .next
{
    border-radius: 0 12px 12px 0;
    position: relative;
}

.pagination .prev::after
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 35px;
    margin-top: 7.5px;
    background-color: #ccc;
}

.pagination .next::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 35px;
    margin-top: 7.5px;
    background-color: #ccc;
}

.pagination button:hover
{
    background-color: #f5f6f6;
}

.pagination button[data-active]:hover
{
    background-color: #fff;
    cursor: default;
}

.pagination .dot
{
    cursor: default;
}

.pagination .dot:hover
{
    background-color: #fff;
}



.pagination img
{
    height: 12px;
}

.pagination img[data-left]
{
    padding-right: 5px;
}

.pagination img[data-right]
{
    padding-left: 5px;
}
/* -------------------------------------------------------------- */


/* ==================================================================================================================== */